.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 150px;
  width: 80%;
}

.services-title {
  position: relative;
}
.services-title h1 {
  padding: 0 30px;
  font-size: 50px;
  font-weight: 500;
  color: #b84056;
}
.services-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.services-format {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  min-height: 200px;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 35px;
  margin-bottom: 20px;
}

.services-format h3 {
  border-radius: 10px;
  border: 1.5px solid #fff;
  padding: 5px;
  font-size: 24px;
  font-weight: 500;
}

.services-format h2 {
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-format p {
  font-size: 20px;
  line-height: 30px;
  max-width: 300px;
  max-height: 80px;
  overflow: hidden;
  transition: max-height 0.5s ease, margin-bottom 0.5s ease;
}

.services-format .expanded {
  max-height: 500px;
  overflow: visible;
}
.services-readmore {
  display: flex;
  margin-top: 5px;
  align-items: center;
  gap: 20px;
  color: #b84056;
}
.services-format:hover {
  border: 2px solid #b923e1;
  background-image: linear-gradient(45deg, #222915, #1c2122);
  transform: scale(1.05);
  transition: 0.5s;
}

.services-readmore img {
  width: 30px;
  height: 20px;
}
.services-readmore img {
  transition: transform 0.3s;
}

.services-readmore img.rotate {
  transform: rotate(180deg);
}
.more-services {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 2px solid white;
  font-size: 20px;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 20px;
}
.more-services img {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 20px;
}

.more-services:hover {
  border: 2px solid #b923e1;
  background-image: linear-gradient(45deg, #222915, #1c2122);
  transform: scale(1.05);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .services {
    align-items: start;
    margin: 20px 70px;
    gap: 70px;
  }
  .services-title h1 {
    padding: 0;
    font-size: 50px;
  }
  .services-title img {
    width: 130px;
    margin-right: -20px;
  }
  .services-format {
    gap: 20px;
    padding: 32px;
  }
  .services-format h2 {
    font-size: 28px;
  }
  .services-format p {
    font-size: 18px;
    line-height: 32px;
    max-width: 300px;
  }
  .services-readmore img {
    width: 20px;
  }
  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
